.card__name {
  max-width: 225px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1003px) {
  .card__name {
    max-width: 242px;
  }
}

@media screen and (max-width: 689px) {
  .card__name {
    max-width: 225px;
  }
}

@media screen and (max-width: 652px) {
  .card__name {
    max-width: 300px;
  }
}

@media screen and (max-width: 424px) {
  .card__name {
    max-width: 225px;
  }
}
