.card__button_remove {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  background-image: url("../../../../images/card__remove.svg");
  background-color: transparent;
}

.card__button_remove:hover {
  opacity: .5;
}