.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 45px 0 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 799px) {
  .header {
  padding: 28px 0 32px 0;
  }
}